<h3>Componente Direcciones</h3>

<div>
    <h4>@Direccion.TipoDireccion</h4>
    <h4>@Direccion.Direccion</h4>
    <h4>@Direccion.Departamento</h4>
    <h4>@Direccion.Ciudad</h4>
</div>



@code {
    [Parameter]
    public Direcciones Direccion { get; set; }
}
