@page "/lista-usuarios"

<h3>Lista de Usuarios</h3>

<PerfilUsuario Nombre="Juan" Edad="30"></PerfilUsuario>
<PerfilUsuario Nombre="Carlos" Edad="19"></PerfilUsuario>
<PerfilUsuario Nombre="Johana" Edad="20"></PerfilUsuario>