@page "/multiple-renderfragment"

<h3>Padre Multiple RenderFragment</h3>

<CompRenderFragment>
    <Encabezado>
        <h1>Título de la tarjeta</h1>
    </Encabezado>
    <Cuerpo>
        <p>Est es el contenido del cuerpo de la tarjeta</p>
    </Cuerpo>
    <PieDePagina>
        <button class="btn-secondary">Guardar</button>
    </PieDePagina>
</CompRenderFragment>

