@page "/"
@using Microsoft.Extensions.Logging;
@inject ILogger<Home> Logger;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override void OnInitialized()
    {
        int id = 55;
        base.OnInitialized();
        Logger.LogInformation("Abriendo pagina principal para para el #id {idUsuario}: ", id);
    }
}
