<input @bind="searchTerm" placeholder="Título del libro..." />
<button class="btn btn-primary" @onclick="Buscar">Buscar</button>

@code {
    private string searchTerm = string.Empty;

    private async Task Buscar()
    {

    }

}
